language: android
sudo: false
jdk:
  - openjdk7
  - oraclejdk7
android:
  components:
    - build-tools-22.0.1
    - android-23
    - extra-android-m2repository
    - extra-android-support
env:
  - JAVA_HOME=/usr/lib/jvm/java-7-oracle
  - ANDROID_HOME=/usr/local/android-sdk
before_script:
    - . $HOME/.nvm/nvm.sh
    - nvm install 6
    - nvm use 6
    - npm install
    - adb start-server
script: "make travis"
after_script: "npm install coveralls@2 && cat ./coverage/lcov.info | coveralls"
